<h1>People</h1>

<button ng-click='test()'>Test</button>
<input type="text" ng-model='param'>
<button ng-click='goToPerson(param)'>Go to Person</button>

<table>
   <thead>
     <tr>
       <th data-field="id">Number</th>
       <th data-field="name">Character Name</th>
       <th data-field="price">Birth Year</th>
       <th>View Details</th>
     </tr>
   </thead>

   <tbody>
     <tr ng-repeat='person in people'>
       <td>{{$index + 1}}</td>
       <td>{{person.name}}</td>
       <td>{{person.birth_year}}</td>
       <td>
         <a type="button" class="btn-floating green darken-1" class='modalButton' class='btn modal-trigger' href='#demoModal' enable-tabs="true" modal ng-click="goToPerson(param)">
             <i class="tiny material-icons">android</i>
           </a>
       </td>
     <tr ng-repeat='person in allCharacters'>
       <td>{{$index + 1}}</td>
       <td>{{person.name}}</td>
       <td>{{person.birth_year}}</td>
       <td>
         <!-- <a type="button" class="btn-floating yellow darken-1" class='modalButton' class='btn modal-trigger' href='#demoModal' enable-tabs="true" modal ng-click="personDetails(person)">
             <i class="tiny material-icons">android</i>
           </a> -->
         <a type="button" class="btn-floating green darken-1" class='modalButton' class='btn modal-trigger' href='#demoModal' enable-tabs="true" modal ng-click="goToPerson(param)">
             <i class="tiny material-icons">android</i>
           </a>
       </td>
     </tr>
   </tbody>
 </table>
